{{> menu active="pin"}}

<section class="section">
    <div class="box box-link-hover-shadow">
        <div class="columns is-multiline is-mobile">
            <div class="column is-half">
                <h2 class="title">
                {{pin.name}}
                </h2>
            </div>
            <div class="column is-one-quarter">
                Longitude: {{pin.longitude}}
            </div>
            <div class="column is-one-quarter">
                Latitude: {{pin.lattitude}}
            </div>
            <div class="column">
                {{pin.description}}
            </div>
        </div>    
    </div>
    {{> list-categories }}
    
    <section class="section columns">
        <div class="columns">
            <div class="column">
                {{> add-category pin}}
                {{> add-tags pin}}
            </div>
            <div class="column">
                {{> add-image }}
            </div>    
        </div>
    </section>
