
<form class="box" action="/dashboard/addpin" method="POST">
  
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <label class="label">Add a pin:</label><input class="input" type="text" placeholder="Enter pin name" name="name">
      </div>
      <div>
        <button class="button is-link">Add Pin</button>
      </div>
    </div>    
  </div>
</form>


  


