{{#each pins}}
  <div class="box box-link-hover-shadow">
    <h2 class="title">
      {{name}}
    </h2>
    <h4>{{description}}</h4>
    <h4>{{lattitude}}</h4>
    <h4>{{longitude}}</h4>
  </div>
{{/each}}